@font-face {
    font-family: Manrope Regular;
    src: url("../public/fonts/Manrope-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Manrope SemiBold;
    src: url("../public/fonts/Manrope-SemiBold.ttf");
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: rgb(255, 255, 255);
    font-family: "Manrope Regular", normal;
    color: #292C31;
}
a{
    text-decoration: none;
    color: #292C31;
}
.mainContainer{
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap
}
.headFrame{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1360px;
    height: 69px;
    border-bottom: 1px solid #D4D5D6;
    margin-bottom: 34px;
    .navBar{
        display: flex;
        justify-content: space-between;
        width: 520px;
        height: 24px;
        font-size: 18px;
        line-height: 135%;
    }
    .infoBar{
        font-family: "Manrope SemiBold", normal;
        display: flex;
        justify-content: space-between;
        width: 432px;
        height: 25px;
        font-size: 18px;
        line-height: 25px;
        font-weight: 600;
    }
}
.detailButton{
    background-color:white;
    margin-top: 36px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 60px;
    width: 209px;
    height: 41px;
    border: 1px solid #292C31;
    box-sizing: border-box;
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 120%;
}
.sliderHead{
    display: flex;
    .detail{
        display: flex;
        flex-direction: column;
        width: 288px;
        height: 72px;
        font-size: 18px;
        line-height: 135%;
        margin-top: 19px;
        margin-left: 267px;
    }
    .slogan{
        width: 433px;
        height: 168px;
        font-weight: 500;
        font-size: 76px;
        line-height: 83.6px;
        text-transform: uppercase;
    }
}
.slider{
    width: 1359px;
    height: 391px;
    margin-top: 36px;
    background-image: url(../public/slide1.PNG);
}
.border{
    margin-top: 24px;
    width: 1359px;
    height: 0px;
    border-bottom: 1px solid #54565A;
}
.title{
    font-family: "Manrope SemiBold", normal;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 48px;
    line-height: 52.8px;
}


.SVMblock{
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    .discBlock{
        margin-top: 104px;
        margin-left: 46px;
        width: 511px;
        height: 86px;
        display: flex;
        flex-direction: column;
    }
    .discBlockImg{
        margin-top: 40px;
        width: 660px;
        height: 451px;
        background-size: 660px 451px;
        background-image: url(../public/rig.PNG)
    }
}
.quoteBlock{
    display: flex;
    margin-top: 120px;
    .autorAvatar{
        width: 427px;
        height: 437px;
        background-size: 427px 437px;
        background-image: url(../public/autor.PNG)
    }
    .post{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        margin-left: 156px;
    }
    .quote{
        width: 652px;
        height: 152px;
        font-size: 28px;
        line-height: 135%;
    }
    .autorName{
        font-size: 18px;
        line-height: 135%;
        color: #7F8083;
    }
    .autorName:first-child{
        font-family: "Manrope SemiBold", normal;
        font-size: 22px;
        line-height: 130%;
        color: #B90C2F;
    }
}